@use "typography";
@use "mixins" as *;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "NunitoSans";
  margin: 0;
  font-size: 13px;
  line-height: 1.125rem;
}
