@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}
@mixin font_bold {
  font-family: "NunitoSans";
  font-weight: 700;
}

@mixin font_medium {
  font-family: "NunitoSans";
  line-height: 68px;
}

@mixin divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
}

@mixin mobile_footer {
  display: flex;
}

@mixin page_padding {
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  margin: 0 1.5rem 0 0;
}
@mixin divider_line {
  line-height: 2rem;
}

@mixin p_line_height {
  line-height: 18px;
  font-size: 13;
  font-weight: 400;
}
