@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
}
