$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-breakpoint: 320px;
$mobile-padding: 24px 8px 16px 8px;

$white: #ffffff;
$bandsite-black: #323232;
$bandsite-darkblack: #000000;
$silver: #afafaf;
$mecury: #e1e1e1;
$alabaster: #fafafa;
