@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "NunitoSans";
  margin: 0;
  font-size: 13px;
  line-height: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  font-weight: 400;
  line-height: 1.375rem;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-left: 4rem;
    width: 100%;
  }
}
.footer__footer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__footer {
    gap: 4rem;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .footer__footer {
    gap: 2rem;
  }
}
.footer__desc__logo {
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__desc__logo {
    position: absolute;
    right: 3.0625rem;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__desc__logo {
    position: absolute;
    right: 5.0625rem;
    padding: 1.5rem;
  }
}
.footer__desc--group h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 0.8125rem;
}
@media screen and (min-width: 1024px) {
  .footer__desc--group h3 {
    line-height: 22px;
  }
}
.footer a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  color: #ffffff;
}
.footer__contacts {
  flex-wrap: wrap;
  display: flex;
}
.footer__desc {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__desc {
    padding-right: 12px;
    display: flex;
    gap: 2rem;
    width: 100%;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__desc {
    line-height: 22px;
    font-size: 14px;
    width: 72%;
    font-size: 18px;
    line-height: 22px;
    font-family: "NunitoSans";
    font-weight: 400;
  }
}
.footer__title {
  font-size: 24px;
  font-weight: 400px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__title {
    display: flex;
    align-items: center;
    gap: 6rem;
  }
}
.footer__socials {
  display: flex;
  gap: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  height: 6rem;
  padding-top: 0.5rem;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 2.25rem;
  }
}
.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    margin-left: 6.5rem;
  }
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
@media screen and (min-width: 768px) {
  .nav__list {
    gap: 4rem;
  }
}
.nav__item {
  flex: 1;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
  }
}
.nav__link {
  color: #fafafa;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.nav__link--highlighted {
  font-weight: bold;
}
.nav__link--highlighted, .nav__link:hover {
  color: #ffffff;
}
.nav__link--highlighted::after, .nav__link:hover::after {
  border-bottom: 2px solid #fafafa;
  content: "";
  position: absolute;
  inset: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero__title {
  margin: 37px;
  color: #ffffff;
  padding-left: 12px;
  z-index: 1;
  font-size: 24px;
  line-height: 2rem;
  font-family: "NunitoSans";
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 4.25rem;
  }
}
.hero__container {
  height: 45vw;
  background-image: url(../assets/Images/hero-bio.jpg);
  min-height: 220px;
  max-height: 700px;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;
}
.hero__overlay {
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 0.5;
}
.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
  padding: 0 1rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero__section {
    padding-left: 4.5rem;
    width: 90%;
  }
}
.hero__subtitle {
  padding: 1.5rem 2.5rem 1rem 0;
  line-height: 2rem;
  margin: 0;
  font-family: "NunitoSans";
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    width: 100%;
    margin-right: 74px;
    font-size: 2rem;
    line-height: 2.75rem;
  }
}
.hero__image {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__image {
    padding-bottom: 0;
  }
}
.hero img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero img {
    width: 100%;
  }
}
.hero__section__about {
  padding: 0 1rem;
  line-height: 1.125rem;
}
.hero__section__about--desc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 12px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .hero__section__about--desc {
    padding: 1rem;
    line-height: 32px;
  }
}

.band__desc {
  line-height: 18px;
  font-size: 13;
  font-weight: 400;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .band__desc {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .band__desc__quote {
    font-size: 1.5rem;
    line-height: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .band__desc__quote {
    font-size: 1.5rem;
    line-height: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .band__desc__img {
    height: 18.75rem;
  }
}

.bees {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .bees {
    margin: 2.25rem;
    margin-bottom: 0px;
    padding: 0px 2rem;
    padding-top: 2.25rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .bees__paragraph {
    display: flex;
    width: 90%;
    margin: 0;
    padding: 0;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .bees__paragraph__about {
    padding: 1px 55px;
    padding: 0px 1.25rem;
    margin-left: 3rem;
    padding-right: 2rem;
    font-size: 0.875rem;
  }
}

.photo-gallery {
  background-color: #fafafa;
  line-height: 2rem;
  transition: filter 0.2s ease;
}
@media screen and (min-width: 768px) {
  .photo-gallery {
    line-height: 2.75rem;
    font-size: 1.5rem;
    font-family: "NunitoSans";
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .photo-gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.photo-gallery__photo {
  width: 100%;
  padding: 0 1rem 1rem;
  filter: grayscale(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
}
.photo-gallery__photo:hover {
  filter: grayscale(0);
}
@media screen and (min-width: 768px) {
  .photo-gallery__photo {
    width: 30%;
  }
}
.photo-gallery__title {
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  margin: 0 1.5rem 0 0;
  padding-bottom: 0;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  #comments {
    margin-right: 56px;
    left: 60px;
  }
}
@media screen and (min-width: 1024px) {
  #comments {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-right: 56px;
    left: 60px;
  }
}

input {
  background-color: #fafafa;
}

textarea {
  resize: none;
  background-color: #fafafa;
  color: #000000;
  height: 36px;
}
@media screen and (min-width: 768px) {
  textarea {
    height: 48px;
  }
}
@media screen and (min-width: 1024px) {
  textarea {
    height: 48px;
  }
}

.form {
  width: 100%;
}
.form__title {
  font-size: 18px;
  margin-left: 22px;
}
@media screen and (min-width: 768px) {
  .form__title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .form__title {
    font-size: 22px;
  }
}
.form__title h1 {
  margin-bottom: 0;
}
.form__photo {
  padding-top: 35px;
  width: 36px;
  height: 36px;
}
@media screen and (min-width: 1024px) {
  .form__photo {
    display: flex;
    width: 36px;
    height: 36px;
  }
}
.form__photo img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 22px;
}
@media screen and (min-width: 1024px) {
  .form {
    margin-top: 35px;
    flex-direction: column;
    display: flex;
  }
}
.form__container {
  width: 95%;
  margin-left: 10px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .form__container {
    width: 80%;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .form__container {
    width: 51.5%;
  }
}
.form__label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem 0;
  padding-left: 3.5rem;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .form-action {
    display: flex;
    justify-content: flex-end;
  }
}

.comment {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  flex-direction: column;
  margin-top: 29px;
  margin-left: 24px;
  border-top: 1px solid silver;
}
@media screen and (min-width: 768px) {
  .comment {
    width: 77%;
  }
}
@media screen and (min-width: 1024px) {
  .comment {
    width: 50%;
    margin-left: 35px;
  }
}
.comment__info {
  display: flex;
  flex-direction: column;
  width: 71%;
}
.comment__image {
  display: flex;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  top: 10px;
  left: 6px;
}
.comment__time {
  position: absolute;
  color: #afafaf;
  right: 1px;
  padding-right: 13px;
}
.comment__likes {
  width: 20%;
  background-color: #fafafa;
  margin: 0;
}

button {
  width: 91.5%;
  height: 40px;
  background-color: #323232;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 16px;
  margin-left: 48px;
  padding: 0 3px 0 0;
}
@media screen and (min-width: 768px) {
  button {
    width: 34.5%;
  }
}

button:hover {
  background-color: #000000;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .list {
    margin-left: 45px;
  }
}
@media screen and (min-width: 1024px) {
  .list {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.comment__text {
  flex-grow: 1;
}
.comment__text__timestamp {
  font-size: 12px;
  color: #afafaf;
}

.avatar-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background-color: #e1e1e1;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}/*# sourceMappingURL=bio.css.map */