@use "partials/global" as *;
@use "partials/mixins" as *;
@use "partials/typography" as *;
@use "partials/variables" as *;

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: $bandsite-black;
  &__title {
    @include font_bold;
    @include page_header;
  }
  &__logo {
    width: 45%;
    position: relative;
    top: 15px;
    left: 86px;
    padding: 1.25rem;
  }
  &__header__nav {
    display: flex;
  }
  &__links {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  &__title {
    margin: 37px;
    color: $white;
    padding-left: 12px;
    z-index: 1;
  }
  &__overlay {
    position: absolute;
    inset: 0;
    background-color: $bandsite-black;
    opacity: 0.5;
  }
  &__container {
    height: 45vw;
    background-image: url(../assets/Images/hero-bio.jpg);
    min-height: 300px;
    height: 45vw;
    max-height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    @include tablet {
    }
  }
  & h2 {
    margin: mobile-padding;
  }
  &__section {
    @include divider;
  }
  & img {
    width: 100%;
  }
}

.photo-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  @include divider;
}

// .hero .main {
//   &_images photogallery {
//     width: 100%;
//   }
// }

.footer {
  background-color: $bandsite-black;
  color: #ffffff;
  &__desc__img img {
    background-color: $bandsite-black;
  }
  & a {
    appearance: none;
    text-decoration: none;
    color: #ffffff;
  }
}
.footer__footer {
  @include mobile;
}
