@use "partials/global" as *;
@use "partials/mixins" as *;
@use "partials/typography" as *;
@use "partials/variables" as *;
@use "./footer.scss" as *;
@use "./header.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}


// Hero Section

.hero {
  &__title {
    margin: 37px;
    color: $white;
    padding-left: 12px;
    z-index: 1;
    font-size: 24px;
    line-height: 2rem;
    @include font_bold;

    @include tablet {
      font-size: 60px;
      line-height: 4.25rem;
    }
  }

  &__container {
    height: 45vw;
    background-image: url(../assets/Images/hero-bio.jpg);
    min-height: 220px;
    max-height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;

    @include tablet {}
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: $bandsite-black;
    opacity: 0.5;
  }

  &__section {
    @include divider;
    padding: 0 1rem 0rem 1rem;

    @include tablet {
      padding-left: 4.5rem;
      width: 90%;
    }
  }

  &__subtitle {
    padding: 1.5rem 2.5rem 1rem 0;
    line-height: 2rem;
    margin: 0;
    @include font-bold;
    font-size: 24px;

    @include tablet {
      width: 100%;
      margin-right: 74px;
      font-size: 2rem;
      line-height: 2.75rem;
    }
  }

  &__image {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 0;
    }
  }

  & img {
    width: 100%;

    @include tablet {
      width: 100%;
    }
  }

  &__section__about {
    padding: 0 1rem;
    line-height: 1.125rem;
  }

  &__section__about--desc {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 12px;
    line-height: 18px;

    @include tablet {
      padding: 1rem;
      line-height: 32px;
    }
  }
}

.band__desc {
  @include p_line_height;
  font-weight: 600;

  @include tablet {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 2rem;
  }

  &__quote {
    @include tablet {
      @include quote_style;
    }

    @include tablet {
      @include quote_style;
    }
  }

  &__img {
    @include tablet {
      height: 18.75rem;
    }
  }
}

.bees {
  font-size: 18px;

  @include tablet {
    margin: 02.25rem;
    margin-bottom: 0px;
    padding: 0px 2rem;
    padding-top: 2.25rem;
    margin-top: 0;
  }

  &__paragraph {
    @include tablet {
      display: flex;
      width: 90%;
      margin: 0;
      padding: 0;
      line-height: 1.375rem;
    }
  }

  &__paragraph__about {
    @include tablet {
      padding: 1px 55px;
      padding: 0px 1.25rem;
      margin-left: 3rem;
      padding-right: 2rem;
      font-size: 0.875rem;
    }
  }
}

.photo-gallery {
  background-color: $alabaster;
  @include divider_line;
  transition: filter 0.2s ease;

  @include tablet {
    line-height: 2.75rem;
    font-size: 1.5rem;
    @include font-bold;
  }

  &__images {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__photo {
    width: 100%;
    padding: 0 1rem 1rem;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0);
    }

    @include divider;

    @include tablet {
      width: 30%;
    }
  }

  &__title {
    @include page_padding;
    padding-bottom: 0;
    padding-top: 16px;
  }
}

// Form Section Begins here

#comments {
  @include tablet {
    margin-right: 56px;
    left: 60px;
  }

  @include desktop {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-right: 56px;
    left: 60px;
  }
}

input {
  background-color: $alabaster;
}

textarea {
  @include textAreaStyle;

  @include tablet {
    height: 48px;
  }

  @include desktop {
    height: 48px;
  }
}


.form {
  width: 100%;

  &__title {
    font-size: 18px;
    margin-left: 22px;

    @include tablet {
      font-size: 22px;
    }

    @include desktop {
      font-size: 22px;
    }
  }


  &__title h1 {
    margin-bottom: 0;
  }

  &__photo {
    padding-top: 35px;
    width: 36px;
    height: 36px;

    @include desktop {
      display: flex;
      width: 36px;
      height: 36px;
    }
  }

  &__photo img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 22px;
  }

  @include desktop {
    margin-top: 35px;
    flex-direction: column;
    display: flex;

  }

  &__container {
    width: 95%;
    margin-left: 10px;
    position: relative;

    @include tablet {
      width: 80%;
      margin-left: 60px;
    }

    @include desktop {
      width: 51.5%;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem 0;
    padding-left: 3.5rem;
    color: $silver;
  }

  &-action {
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }
}



.comment {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  flex-direction: column;
  margin-top: 29px;
  margin-left: 24px;
  border-top: 1px solid silver;

  @include tablet {
    width: 77%;
  }

  @include desktop {
    width: 50%;
    margin-left: 35px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 71%;

  }

  &__image {
    display: flex;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 10px;
    left: 6px;
  }

  &__time {
    position: absolute;
    color: $silver;
    right: 1px;
    padding-right: 13px;

  }

  &__likes,
  &__delete {
    width: 20%;
    background-color: $alabaster;
    margin: 0;
  }

}

.button__wrapper {
  display: flex;
  justify-content: space-between;

}

button {
  width: 91.5%;
  height: 40px;
  background-color: $bandsite-black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 16px;
  margin-left: 48px;
  padding: 0 3px 0 0;

  @include tablet {
    width: 34.5%;
  }
}

button:hover {
  background-color: $bandsite-darkblack;
  color: $white;
}

.list {
  @include tablet {
    margin-left: 45px;
  }

  @include desktop {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}


.comment__text {
  flex-grow: 1;

  &__timestamp {
    font-size: 12px;
    color: $silver;
  }
}


.avatar-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background-color: $mecury;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}