@use "partials/global" as *;
@use "partials/mixins" as *;
@use "partials/typography" as *;
@use "partials/variables" as *;

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: $bandsite-black;
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }

  &__logo {
    width: 45%;
    position: relative;
    top: 0.5rem;
    left: 86px;
    padding: 1.25rem;
  }
  &__nav {
    font-size: 14px;
    color: $white;
    font-weight: 600;

    @include tablet {
      font-size: 24px;
      line-height: 2rem;
      position: relative;
      font-weight: 500;
      color: $white;
      top: 16px;
    }
    @include desktop {
      font-size: 24px;
      line-height: 2rem;
      position: relative;
      font-weight: 500;
      color: $white;
    }
  }

  @include desktop {
    font-size: 44px;
    line-height: 68px;
  }

  &__links {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 1rem;

    @include desktop {
      justify-content: space-evenly;
    }
  }
}

.hero {
  &__title {
    margin: 37px;
    color: $white;
    padding-left: 12px;
    z-index: 1;
  }
  &__overlay {
    position: absolute;
    inset: 0;
    background-color: $bandsite-black;
    opacity: 0.5;
  }
  &__container {
    height: 45vw;
    background-image: url(../assets/Images/hero-bio.jpg);
    min-height: 300px;
    height: 45vw;
    max-height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    @include tablet {
    }
  }
  &__section {
    @include divider;
  }
  &__section__title {
    @include page_padding;
  }

  & img {
    width: 100%;
  }
}

.photo-gallery {
  background-color: $alabaster;
  @include divider_line;

  &__images {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__photo {
    width: 100%;
    @include divider;

    @include tablet {
      width: 30%;
    }
  }
  &__title {
    @include page_padding;
  }
}

.footer {
  background-color: $bandsite-black;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  &__desc__img img {
    background-color: $bandsite-black;
  }
  & a {
    appearance: none;
    text-decoration: none;
    color: #ffffff;
  }
}

// .footer__footer {
//   @include mobile;
// }
