@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "NunitoSans";
  margin: 0;
  font-size: 13px;
  line-height: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  font-weight: 400;
  line-height: 1.375rem;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-left: 4rem;
    width: 100%;
  }
}
.footer__footer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__footer {
    gap: 4rem;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .footer__footer {
    gap: 2rem;
  }
}
.footer__desc__logo {
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__desc__logo {
    position: absolute;
    right: 3.0625rem;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__desc__logo {
    position: absolute;
    right: 5.0625rem;
    padding: 1.5rem;
  }
}
.footer__desc--group h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 0.8125rem;
}
@media screen and (min-width: 1024px) {
  .footer__desc--group h3 {
    line-height: 22px;
  }
}
.footer a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  color: #ffffff;
}
.footer__contacts {
  flex-wrap: wrap;
  display: flex;
}
.footer__desc {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__desc {
    padding-right: 12px;
    display: flex;
    gap: 2rem;
    width: 100%;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__desc {
    line-height: 22px;
    font-size: 14px;
    width: 72%;
    font-size: 18px;
    line-height: 22px;
    font-family: "NunitoSans";
    font-weight: 400;
  }
}
.footer__title {
  font-size: 24px;
  font-weight: 400px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__title {
    display: flex;
    align-items: center;
    gap: 6rem;
  }
}
.footer__socials {
  display: flex;
  gap: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  height: 6rem;
  padding-top: 0.5rem;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 2.25rem;
  }
}
.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    margin-left: 6.5rem;
  }
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
@media screen and (min-width: 768px) {
  .nav__list {
    gap: 4rem;
  }
}
.nav__item {
  flex: 1;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
  }
}
.nav__link {
  color: #fafafa;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.nav__link--highlighted {
  font-weight: bold;
}
.nav__link--highlighted, .nav__link:hover {
  color: #ffffff;
}
.nav__link--highlighted::after, .nav__link:hover::after {
  border-bottom: 2px solid #fafafa;
  content: "";
  position: absolute;
  inset: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.iframe__container {
  width: 75%;
}
@media screen and (min-width: 768px) {
  .iframe__container {
    width: 75%;
  }
}

iframe {
  left: 10px;
  bottom: 18px;
  width: 90%;
  height: 85px;
  border: 5px solid #ffffff;
}
@media screen and (min-width: 768px) {
  iframe {
    width: 50%;
    height: 150px;
    position: absolute;
    bottom: 33px;
    margin-left: 40px;
    border-left-width: 5px;
  }
}
@media screen and (min-width: 1024px) {
  iframe {
    position: static;
    width: 40%;
    height: 150px;
    align-self: anchor-center;
    border-left-width: 5px;
    margin-left: 0px;
    margin-right: 52px;
  }
}

.hero__title {
  color: #ffffff;
  z-index: 1;
  font-size: 12px;
  line-height: 2rem;
  margin-top: 5px;
  font-family: "NunitoSans";
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 32px;
    line-height: 4.25rem;
    line-height: 3rem;
    font-size: 18px;
    font-family: "Nunitosans";
    font-weight: 500;
  }
}
.hero__subtitle {
  margin-top: 0;
  z-index: 1;
  font-size: 22px;
  color: #ffffff;
  line-height: 32px;
  font-family: "NunitoSans";
  font-weight: 700;
  width: 75%;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-size: 32px;
    width: 293px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    align-self: anchor-center;
  }
}
.hero__container {
  height: 45vw;
  background-image: url(../assets/Images/hero-shows.jpg);
  min-height: 220px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    gap: 3rem;
    padding-left: 45px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .hero__container {
    padding-left: 45px;
    flex-direction: row;
  }
}
.hero__overlay {
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 0.5;
}
.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
  padding: 0 1rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero__section {
    padding-left: 4.5rem;
    width: 90%;
  }
}

.show {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .show {
    margin-left: 20px;
    margin-top: 44px;
    font-size: 32px;
  }
}

.show__header {
  color: #afafaf;
  text-transform: uppercase;
  display: none;
  margin: 10px 0px 0 15px;
}
@media screen and (min-width: 768px) {
  .show__header__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .show__header__title {
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .show__header {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .show__header > * {
    flex: 1;
  }
}

.show-row {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0 15px;
}

.show__label {
  font-size: 12px;
  color: #afafaf;
  margin-bottom: 0;
  margin: 10px 0px 0 15px;
}
@media screen and (min-width: 768px) {
  .show__label {
    display: none;
  }
}

.show-item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .show-item {
    border-bottom: 1px solid #afafaf;
    margin: 5px;
  }
}
@media screen and (min-width: 768px) {
  .show-item {
    flex-direction: row;
  }
  .show-item > * {
    flex: 1;
  }
}
.show-item:hover {
  background-color: #e1e1e1;
}
.show-item.selected {
  background-color: #afafaf;
  border-color: #333;
}

.show-date {
  margin-top: 10px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin: 10px 0px 0 15px;
}

span {
  font-family: "NunitoSans";
  font-weight: 700;
}

.buy-ticket-link {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  background-color: #323232;
  text-align: center;
  width: 90%;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 10px 0;
  padding-right: 32px;
}
.buy-ticket-link:hover {
  background-color: #000000;
}

.show-divider {
  margin-top: 1rem;
  border-top: 1px solid silver;
}
@media screen and (min-width: 768px) {
  .show-divider {
    border: 0;
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .show-divider {
    border: 0;
  }
}/*# sourceMappingURL=shows.css.map */