@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/assets/Font/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "NunitoSans";
  margin: 0;
  font-size: 13px;
  line-height: 1.125rem;
}

.header {
  line-height: 24px;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    font-size: 2.75rem;
    line-height: 4.25rem;
  }
}
.header__links {
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    height: 6.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    display: flex;
    align-items: center;
    padding-left: 6rem;
    height: 6.25rem;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-link {
    display: flex;
  }
}
.header__nav {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__nav {
    font-size: 24px;
    line-height: 2rem;
    font-weight: 500;
    color: #ffffff;
    margin-left: 4rem;
  }
}
.header__link {
  list-style: none;
  margin: 0;
  gap: 1rem;
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .header__link {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
.header__link:hover {
  border-bottom: 4px solid #ffffff;
}
.header__link--inactive {
  opacity: 0.5;
}
.header__link--inactive:hover {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .header__link {
    justify-content: space-evenly;
  }
}

iframe {
  left: 10px;
  bottom: 18px;
  width: 90%;
  height: 110px;
}
@media screen and (min-width: 768px) {
  iframe {
    width: 50%;
    height: 180px;
    position: absolute;
    border: 5px solid #ffffff;
  }
}

.hero__title {
  margin: 37px;
  color: #ffffff;
  padding-left: 12px;
  z-index: 1;
  font-size: 18px;
  line-height: 2rem;
  padding-bottom: 80px;
  margin-top: 15px;
  font-family: "NunitoSans";
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 4.25rem;
  }
}
.hero__container {
  height: 45vw;
  background-image: url(../assets/Images/hero-shows.jpg);
  min-height: 220px;
  max-height: 700px;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;
}
.hero__overlay {
  position: absolute;
  inset: 0;
  background-color: #323232;
  opacity: 0.5;
}
.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
  padding: 0 1rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero__section {
    padding-left: 4.5rem;
    width: 90%;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  font-weight: 400;
  line-height: 1.375rem;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-left: 4rem;
    width: 100%;
  }
}
.footer__footer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__footer {
    gap: 4rem;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .footer__footer {
    gap: 2rem;
  }
}
.footer__desc__logo {
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__desc__logo {
    position: absolute;
    right: 3.0625rem;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__desc__logo {
    position: absolute;
    right: 5.0625rem;
    padding: 1.5rem;
  }
}
.footer__desc--group h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 0.8125rem;
}
@media screen and (min-width: 1024px) {
  .footer__desc--group h3 {
    line-height: 22px;
  }
}
.footer a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  color: #ffffff;
}
.footer__contacts {
  flex-wrap: wrap;
  display: flex;
}
.footer__desc {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__desc {
    padding-right: 12px;
    display: flex;
    gap: 2rem;
    width: 100%;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__desc {
    line-height: 22px;
    font-size: 14px;
    width: 72%;
    font-size: 18px;
    line-height: 22px;
    font-family: "NunitoSans";
    font-weight: 400;
  }
}
.footer__title {
  font-size: 24px;
  font-weight: 400px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__title {
    display: flex;
    align-items: center;
    gap: 6rem;
  }
}
.footer__socials {
  display: flex;
  gap: 2rem;
}

.show-item {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border-bottom: 1px solid silver;
}
@media screen and (min-width: 768px) {
  .show-item {
    flex-direction: row;
  }
  .show-item > * {
    flex: 1;
  }
}
.show-item:hover {
  background-color: #fafafa;
}
.show-item.selected {
  background-color: #e1e1e1;
  border-color: #333;
}

.show__header {
  display: none;
}
@media screen and (min-width: 768px) {
  .show__header {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .show__header > * {
    flex: 1;
  }
}

.show-row {
  display: flex;
  flex-direction: column;
}

.show__label {
  font-size: 12px;
  color: #afafaf;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .show__label {
    display: none;
  }
}

.show-date {
  margin-top: 10px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.buy-ticket-link {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #323232;
}
.buy-ticket-link:hover {
  background-color: #ffffff;
}/*# sourceMappingURL=shows.css.map */